body{
	background-color: hsl(218, 28%, 13%);
	color: white;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	margin: 0;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
h2{
	font-size: 2em;
	font-weight: 700;
}
h3{
	font-size: 1.5em;
}
p{
	font-weight: 400;
}

header > .navbar{
	display: flex;
	justify-content: space-between;
	margin: 2% calc(20px + 2%);
	align-items: center;
}

nav > ul{
	list-style-type: none;
}

nav > ul > li{
	display: inline;
	padding-right: 3em;
}

a{
	color: white;
	padding: 3px;
}
a:link{
	text-decoration: none;

}
a:hover{
	border: solid 2px;
	padding: 1px;
	border-radius: 5px;
}
a:visited{
	color: white;
}

.logo{
	padding: 0;
}
.logo:hover{
	border: 0;
	padding: 0;
}

main > *{
	margin: 100px auto;
}

button{
	background: rgb(84, 184, 203);
	transition: background-color 0.5s ease;
}
button:hover{
	background-color: rgb(130, 184, 203);
}
button:focus{
	background-color: rgb(130, 0, 203);
}

.get-started{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	height: 1050px;
	text-align: center;
	background-image: url(images/bg-curvy-desktop.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	background-color: hsl(217, 28%, 15%);
	background-size: 100vw;
	margin: -200px 0 0;
}
.get-started *{
	width: 70%;
	max-width: 700px;
	margin: 40px auto 20px;
}
.get-started > img{
	margin-top: 200px;
	width: 100%;
	height: auto;
}
.get-started > p{
	height: auto;
	width: 45%;
	margin-top: 20px
}
.get-started > button{
	width: 50%;
	border: 0;
	outline: none;
	color: white;
	border-radius: 50px;
	box-shadow: none;
	padding: 10px 70px;
	margin-top: 20px;
}
@media (max-width: 1000px){
	.get-started > img{
		width: 60%;
	}
}

.grid-articles{
	position: relative;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 500px);
	grid-template-rows: repeat(2, 300px);
	align-items: center;
	justify-content: center;
	row-gap: 50px;
}
.grid-articles > article {
	padding-right: 50px;
	text-align: center;
}
@media (max-width: 1000px){
	.grid-articles{
		grid-template-columns: repeat(2, 40vw);
		grid-template-rows: repeat(2, 350px);
	}
	.grid-articles > article{
		padding-right: 20px;
	}
}
.grid-articles > article > img{
	height: 6rem;
	width: auto;
}

.stay-productive{
	display: flex;
	margin-left: 100px;
}
.stay-productive > img{
	align-self: center;
	height: auto;
	width: 50%;
}
.stay-productive > .text{
	margin-top: 5%;
}
.stay-productive > .text > h2{
	width: 50%;
}
.stay-productive > .text > p{
	font-weight: 100;
	width: 70%;
}
.stay-productive > .text > a{
	color: hsl(176, 68%, 64%);
	width: 100%;
}
.stay-productive > .text > a:visited{
	color: hsl(176, 68%, 64%);
}
.stay-productive > .text > a::after{
	display: block;
	width: 10.3em;
	height: 1px;
	content: '';
	background: hsl(176, 68%, 64%);
}
@media (max-width: 1000px){
	.stay-productive{
		margin-left: 5%;
	}
	.stay-productive > img{
		width: calc(200px + 20%);
	}
	.stay-productive > .text > p, .stay-productive > .text > h2{
		width: 85%;
	}
}

.quotes{
	display: flex;
	width: 95%;
	margin: 100px auto;
}
.quotes > img{
	position: absolute;
	z-index: -1;
	margin-top: -30px;
	margin-left: 5px;
}
.quotes > .container{
	height: auto;
	width: 33%;
	background: hsl(219, 30%, 18%);
	margin: auto 15px;
	padding: 20px;
	border-radius: 7px;
	box-shadow: 10px 7px hsl(218, 28%, 14%);
}
.quotes > .container > div{
	display: flex;
	align-items: center;
}
.quotes > .container > div > img{
	border-radius: 50%;
	height: auto;
	width: 15%;
}
.quotes > .container > .author > .person > p{
	margin: 0px 0px 3px 10px;
	font-size: 0.8em;
}
.quotes > .container > .author > .person > .name{
	font-size: 1.2em;
}
@media (max-width: 1000px){
	.quotes > .container > .author > .person > .name{
	font-size: 1.1em;
	}
	.quotes > .container > p{
		font-size: 0.9em;
	}
}

.early-access-card{
	position: relative;
	z-index: 10;
	height: auto;
	width: 70%;
	background: hsl(219, 30%, 18%);
	margin: 200px auto 100px;
	padding: 20px;
	border-radius: 7px;
	box-shadow: 10px 7px hsl(218, 28%, 14%);
	text-align: center;
	padding: 3% 5%;
}
.early-access-card > p{
	padding: 40px 10px;
}
.early-access-card > .email-form{
	display: block;
	width: 100%;
	z-index: 2;
}
.early-access-card > .email-form > *{
	border-radius: 50px;
	height: 40px;
	border: 0;
	outline: none;
}
.early-access-card > .email-form > input{
	width: 60%;
	margin-right: 3%;
	padding-left: 40px;
	color: rgba(0, 0, 0, 1);
}
.early-access-card > .email-form > input::placeholder{
	color: rgba(0, 0, 0, 0.4);
}
.early-access-card > .email-form > button{
	font-size: 13px;
	font-weight: 800;
    color: white;
	padding: 10px 30px;
	margin-top: 20px;
}
@media (max-width: 1000px){
	.early-access-card{
		margin-top: 100px;
	}
}

footer{
	z-index: 1;
	position: relative;
	background-color: hsl(216, 53%, 9%);
	margin-top: -250px;
	
	height: 500px;
	width: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 0 0 70px 4%;
}
footer > a{
	position: relative;
	margin-top: auto;
	margin-bottom: 50px;
}
footer > .navbar-grid{
	display: grid;
	columns: 5;
	width: 96%;
	height: auto;

	grid-template-columns: 32% 20% repeat(2, 15%) 10%;
	column-gap: 2%;
}
footer > .navbar-grid > .contacts > div{
	display: flex;
	overflow-wrap: break-word;
	flex-direction: row;
	align-items: flex-start;
}
footer > .navbar-grid > .contacts > div > p{
	width: 90%;
	float: left;
}
footer > .navbar-grid > .contacts > div > img{
	width: auto;
	height: 1rem;
	margin-top: 20px;
	margin-right: 15px;
	float: left;
}
footer > .navbar-grid > nav{
	display: flex;
	flex-direction: column;
}
footer > .navbar-grid > nav > a > p{
	margin: 5px 0;
}
footer > .navbar-grid > .links{
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
}
footer > .navbar-grid > .links a{
	margin-right: 10px;
}
footer > .navbar-grid > .links ion-icon{
	height: 2rem;
	width: 2rem;
}
@media (max-width: 1000px){
	footer > .navbar-grid{
		grid-template-columns: 20% 26% repeat(2, 10%) 18%;
		column-gap: 4%;
	}
	footer > .navbar-grid > .contacts > div{
		flex-direction: column;
	}
	footer{
		padding-bottom: 20px;
		font-size: 0.9em;
	}
	footer > img{
		margin-bottom: calc(15px + 1%);
	}
}


@media only screen and (max-width: 700px){
	body{
		font-size: 0.9em;
		text-align: center;
	}
	h1,h2,h3,p{
		font-weight: 100;
	}
	main{
		margin-top: 35px;
	}
	header > .navbar > img{
		width: 30%;
	}
	header > .navbar > nav > ul > li{
		padding-right: 5px;
		font-weight: 100;
		font-size: 0.9em;
	}
	
	.get-started{
		margin-top: -200px;
		margin-bottom: 350px;
		height: 550px;
	}
	.get-started > *, .get-started > p, .get-started > img, .get-started > h2 {
		width: 85%;
	}
	
	.grid-articles{
		grid-template-columns: 80%;
		grid-template-rows: repeat(4, 300px);
		row-gap: 30px;
		width: 100%;
		margin: 0 auto;
		align-items: center;
	}
	.grid-articles > article > img{
		width: auto;
		height: 30%;
	}
	.grid-articles > article > h3{
		font-size: 1.3em;
		font-weight: 100;
		width: 90%;
		margin: 0 auto;
	}
	
	.stay-productive{
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		align-items: center;
		justify-content: center;
		text-align: left;
	}
	.stay-productive > .text > a > img{
		margin: -4px 0;
	}
	.stay-productive > .text > a::after{
		margin-top: 10px;
		width: 11.9em;
	}
	.quotes{
		flex-direction: column;
		text-align: left;
	}
	.quotes > img{
		margin-top: -20px;
		margin-left: 12px;
	}
	.quotes > .container{
		width: 80%;
		margin: 15px auto;
	}
	
	.early-access-card > *{
		margin: 10px auto;
		padding: 0;
	}
	.early-access-card > .email-form > input{
		padding: 10px 20px;
		width: 76%;
		height: auto;
		margin: 0;
	}
	.early-access-card > .email-form > button{
		margin: 20px 0;
		padding: 10px 20px;
		width: 90%;
		height: auto;
	}
	
	footer{
		margin-top: -300px;
		
		height: 1000px;
		align-items: flex-start;
		padding: 0 0 10px 4%;
		justify-items: left;
		text-align: left;
	}
	footer > a{
		margin-bottom: 50px;
	}
	footer > .navbar-grid{
		height: 60%;
		grid-template-columns: 80%;
		grid-template-rows: 100px 150px repeat(2, 150px) 10%;
		margin: 0 10px;
	}
	footer > .navbar-grid > div{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	footer > .navbar-grid > div > p{
		margin: 0 15px;
	}
	footer > .navbar-grid > .contacts{
		flex-direction: column;
	}
	footer > .navbar-grid > .contacts > div{
		flex-direction: row;
	}
	footer > .navbar-grid > .links{
		position: absolute;
		margin: 0 auto;
		bottom: 20px;
		left: 0;
		right: 0;
		width: fit-content;
	}
}

@keyframes imageFlow{
	from {transform: translate3d(0, -100%, 0);}
	50% {transform: translate3d(0, 10%, 0);}
	to {transform: none;}
}

.imageFlow {
	animation-name: imageFlow;
	animation-fill-mode: forwards;
	animation-duration: 0.7s;
}